@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* so image does not disappear */
  height: 100%;
  background-color: white;
}

.bg-image {
  /* Set size of image */
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  /* Background Image */
  background: url('../img/background.jpg') no-repeat center/cover fixed;
  /* 
  background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;

  
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
  */

  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);

  position: absolute;
  left: 0;
  top: 0;
}
.overlay {
  width: 75%;
  height: 837px;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 28%;
  margin-top: -50px; /* this is half the height of your div*/
  margin-left: -275px; /* this is half of width of your div  */
  border-radius: 20px;
  border: 1px solid #fd6238;

  display: flex;
}

.form {
  /* temporary */
  /* border: 1px solid black; */
  width: 40%;
  padding: 20px;
  margin-left: 3em;
}

.guitar-logo {
  width: 25%;
}

.heading {
  font-family: 'Song Myung', serif;
  text-transform: capitalize;
  font-size: 36px;
  margin-top: 20px;
}


.form-image {
  /* temporary */
  /* border: 1px solid black; */
  width: 60%;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


