@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* so image does not disappear */
  height: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.bg-image {
  /* Set size of image */
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  /* Background Image */
  background: url('../img/background.jpg') no-repeat center/cover fixed;
  /* 
  background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;

  
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
  */

  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);

  position: absolute;
  left: 0;
  top: 0;
}
.overlay {
  width: 75%;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 28%;
  margin-top: -50px; /* this is half the height of your div */
  margin-bottom: -50px;
  margin-left: -15%; /*this is half of width of your div  */
  border-radius: 20px;
  border: 1px solid #fd6238;

  display: flex;
}

.form {
  /* temporary */
  /* border: 1px solid black; */
  width: 40%;
  padding: 20px;
  margin-left: 3em;
}

.guitar-logo {
  width: 25%;
}

.heading {
  font-family: 'Song Myung', serif;
  text-transform: capitalize;
  font-size: 24px;
  margin-top: 20px;
  letter-spacing: 3px;
}

.subheading {
  font-size: 15px;
  color: #a9a9a9ab;
  margin-top: 25px;
  margin-bottom: 30px;
}

input[type='email'] {
  margin-bottom: 10px;
}

input[type='email'],
input[type='password'] {
  display: inline-block;
  width: 90%;
  padding: 20px;
  position: relative;
  background: #e8ebed;
  border: none;
  outline: none;
  border-radius: 5px;
}

.checkbox {
  width: 100px;
  display: inline-block;
  font-size: 9px;
  margin-top: 14px;
  padding: 0;
}

.form-image {
  /* temporary */
  /* border: 1px solid black; */
  width: 60%;
  height: auto;
  max-width: 100%;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
