@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* so image does not disappear */
  height: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.bg-login {
  /* Set size of image */
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  /* Background Image */
  background: linear-gradient(
    180deg,
    rgba(240, 156, 27, 1) 0%,
    rgba(244, 142, 172, 1) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
}
.bg-registration {
  /* Set size of image */
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  /* Background Image */
  background: linear-gradient(
    180deg,
    rgba(240, 156, 27, 1) 0%,
    rgba(96, 161, 187, 1) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
}
.bg-forgot-password {
  /* Set size of image */
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  /* Background Image */
  background: linear-gradient(
    180deg,
    rgba(96, 161, 187, 1) 0%,
    rgba(244, 142, 172, 1) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
}
.overlay {
  width: 75%;
  height: 95%;
  background-color: white;
  position: absolute;
  top: 2.5%;
  left: 28%;
  /* margin-top: -0px; */
  /* margin-bottom: -50px; */
  margin-left: -15%; /*this is half of width of your div  */
  border-radius: 20px;
  border: 1px solid #fd734d;

  display: flex;
}

/* Login Form */

.login-form {
  /* temporary */
  /* border: 1px solid black; */
  width: 40%;
  padding: 20px;
  margin-left: 3em;
}

.guitar-logo {
  width: 25%;
}

.heading {
  font-family: 'Song Myung', serif;
  text-transform: capitalize;
  font-size: 24px;
  margin-top: 20px;
  letter-spacing: 4px;
}

.subheading {
  font-size: 15px;
  color: #a9a9a9ab;
  margin-top: 25px;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}

input[type='email'],
input[type='text'],
input[type='password'] {
  margin-bottom: 10px;
}

input[type='email'],
input[type='password'],
input[type='text'] {
  display: inline-block;
  width: 95%;
  padding: 15px;
  position: relative;
  background: #e8ebed;
  border: none;
  outline: none;
  border-radius: 5px;
}

.checkbox {
  width: 100px;
  display: inline-block;
  font-size: 10px;
  margin-top: 14px;
  padding: 0;
  position: relative;
}

.remember-checkbox {
  transform: scale(1.5);
}

.checkbox span {
  margin-left: 5px;
  position: absolute;
  top: 0.5px;
}

.forgot-password-link {
  margin-left: 153px;
  font-size: 10px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  position: relative;
  top: -3px;
}

.form-buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  height: 38px;
  line-height: 33px;
  border: none;
  border-radius: 5px;
  padding: 3px 32px;
  margin-right: 10px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.primary-btn {
  background: #fd734d;
  color: #ffffff;
}

.secondary-btn {
  background: #ffffff;
  color: #fd734d;
  border: 1px solid #fd734d;
}

.legal-terms {
  margin: 30px 0;
  padding: 5px 2px;
  font-size: 13px;
  color: #a9a9a9;
  letter-spacing: 0.5px;
}

.bold {
  font-weight: bold;
  color: #333333;
}

.link {
  text-decoration: none;
}

.forgot-form-image {
  /* temporary */
  /* border: 1px solid black; */
  width: 60%;
  height: auto;
  max-width: 100%;
  background-image: url('../img/trumpet_player.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.login-form-image {
  /* temporary */
  /* border: 1px solid black; */
  width: 60%;
  height: auto;
  max-width: 100%;
  background-image: url('../img/sax_player.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Registration Form */
.left {
  width: 45%;
  padding: 20px;
  margin-left: 3em;
}

.registration-form--heading {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #a9a9a9;
  padding: 0 15px 0 0;
}

.email-checkbox,
.terms-checkbox {
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  position: relative;
}

input[type='checkbox'] {
  transform: scale(1);
}

.checkbox-text {
  margin-left: 10px;
  font-size: 11px;
  color: #a9a9a9;
  position: absolute;
  top: 3px;
}

.ca-btn {
  margin-bottom: 40px;
}

.reg-username,
.reg-emailadd,
.reg-password {
  margin-bottom: 20px;
  display: inline-block;
  width: 90%;
  padding: 15px;
  position: relative;
  background: #e8ebed;
  border: none;
  outline: none;
  border-radius: 5px;
}

strong {
  color: #000000;
}

.existing-account {
  font-size: 19px;
}

.login-anchor {
  text-decoration: none;
  color: #60a1bb;
}

.right {
  /* temporary */
  /* border: 1px solid black; */
  width: 55%;
  height: auto;
  max-width: 100%;
  background-image: url('../img/guitar_player.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.registration-logo {
  margin-left: 24em;
}

/* Forgot Password Form */
.heading-forgot {
  font-size: 25px;
  margin-top: 30px;
}

.subheading-forgot {
  text-align: center;
  color: #333333;
  padding: 17px;
}

.email-forgot {
  margin-top: 30px;
}

.center {
  position: relative;
  left: 116px;
}

.forgot-login {
  position: relative;
  top: 50px;
  left: 80px;
}
